
<!-- this hader file for the navigetion links -->

 <div id="back">
	 <ul>
		  <li id="{{id}}"><a routerLink="home">Home</a></li>
		  <li id="{{aboutid}}"><a routerLink="about">Data Table Listing Demo</a></li>
		  <li id="{{validetionid}}"><a routerLink="validetion">Validation</a></li>
		  <li id="{{apptestid}}"><a routerLink="apptest">CRUD Demo</a></li>
		  <li><a id={{addlist}} routerLink="addlist">AddToList</a></li>
		  <li><a routerLink="">Login</a></li>
		  <li><a (click)="logout()">Logout</a></li>
	</ul>
</div>

