<!--The content below is only a placeholder and can be replaced.-->
<div id="main"> 
		<header>
			<img src="./assets/images.png" align="left" height="90px">
			<h1 style="font-family:Monotype Corsiva, Times, Serif;">Adnular 5 Demo Application</h1>
		</header> 
<div>
		<app-header></app-header>
</div>
<div>

 <router-outlet></router-outlet>
  <button (click)="sendMessage()">Send Message</button>
  <button (click)="clearMessage()">Clear Message</button>

     <!--  <data-table-demo-1></data-table-demo-1>
		//for routing
		
      -->
 </div>
<div>
	
	<app-footer></app-footer>
</div>
</div>